[Desktop Entry]
Encoding=UTF-8
Name=Link to Large Calibration Square by Dillon1337 - Thingiverse
Type=Link
URL=http://www.thingiverse.com/thing:27773/#instructions
Icon=text-html
